Options -Indexes

RewriteEngine on

# ErrorDocument 404 /error.php

RewriteRule ^cs3744/project3/lconti97 Home/index.html

RewriteRule ^Home/?$ Home/index.html [QSA,L]

RewriteRule ^Login/index/?$ Login/index.html [QSA,L]
RewriteRule ^Login/?$ Login/controller.php [QSA,L]

RewriteRule ^FamilyMember/view/?$ FamilyMember/view.html [QSA,L]
RewriteRule ^FamilyMember/add/?$ FamilyMember/add.html [QSA,L]
RewriteRule ^FamilyMember/index/?$ FamilyMember/index.html [QSA,L]
RewriteRule ^FamilyMember/edit/?$ FamilyMember/edit.html [QSA,L]
RewriteRule ^FamilyMember/?$ FamilyMember/controller.php [QSA,L]

RewriteRule ^Milestones/?$ Milestones/controller.php [QSA,L]