html, body {
    font-family: Arial, sans-serif;
    background-image: url("../res/stars.jpg"); /* http://www.4usky.com/data/out/88/164793469-stars-wallpapers.jpg */
    background-size: cover;
}

a {
    color: white;
}

a.nav {
    color: goldenrod;
    display: block;
    padding: 12px 20px;
    margin: 8px 0;
    text-align: center;
}

body {
    height: 100%;
}

h1 {
    color: goldenrod;
    text-align: center;
}

h5 {
    color: white;
}

input {
    padding: 12px 20px;
    margin: 8px 0;
}

input[type=text], input[type=password], input[type=number] {
    width: 100%;
    box-sizing: border-box;
    display: block;
}

button {
    background-color: goldenrod;
    color: white;
    padding:14px 20px;
    margin: 8px auto;
    width: 100%;
    border: none;
    cursor: pointer;
    max-width: 600px;
    display: block;
}

button:hover {
    opacity: 0.8;
}

button.delete {
    background-color: red;
}

.container {
    padding: 5px 10px;
    border: 3px solid goldenrod;
    margin: 50px auto;
    background-color: white;
    max-width: 600px;
}

div.family-tree-node {
    border: 3px solid goldenrod;
    padding: 5px 10px;
    margin: 8px 8px;
    width: auto;
    background-color: white;
    display: inline-block;
    cursor: pointer;
}

div.family-tree-node:hover {
    opacity: 0.8;
}

div.milestone {
    border: 3px solid goldenrod;
    padding: 5px 10px;
    margin: 8px 8px;
    width: auto;
    background-color: white;
    display: block;
    cursor: pointer;
}

div.evil {
    border: 3px solid red;
}

div.good {
    border: 3px solid dodgerblue;
}

div.timeline {
    display: flex;
    align-items: center;
    justify-content: center;
}

.error {
    color: red;
}

p {
    color: white;
}

img {
    max-width: 100%;
    margin: 8px auto;
    display: block;
}

@media all and (max-width: 768px){
    div.timeline {
        display: block;
    }
}